

        <div class="content-center fixed-header-margin">
            <!-- HEADER -->
            <div class="header-wrapper style-2">
                <header class="type-1">
                    <div class="header-top">
                        <div class="header-top-entry">
                            <div class="title"><img src="app-content/img/flag-lang-1.png" alt="" />English<i class="fa fa-caret-down"></i></div>
                            <div class="list">
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-2.png" alt="" />French</a>
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-3.png" alt="" />Spanish</a>
                            </div>
                        </div>
                  
                        <div class="header-top-entry hidden-xs">
                            <div class="title">India's Fastest Online Shopping Destination</div>
                            
                        </div>
                        <div class="socials-box">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
                        <div class="clear"></div>
                    </div>
                    <div class="header-middle">
                        <div class="logo-wrapper">
                            <a id="logo" href=""><img src="app-content/img/new/evr_logo.png" style="width: 85%; height: auto;" alt="" /></a>
                            
                        </div>

                        <div class="middle-entry">
                            <a class="icon-entry" href="#">
                                <span class="image">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <span class="text">
                                    <b>Contact Info</b> <br/> (+91) 180 000 425
                                </span>
                            </a>
                            
                        </div>

                        <div class="right-entries">
                            <a class="header-functionality-entry open-search-popup" href="#"><i class="fa fa-search"></i><span>Search</span></a>
                            <a class="header-functionality-entry open-cart-popup" href="#"><i class="fa fa-shopping-cart"></i><span>My Cart</span></a>                            
                            <a class="header-functionality-entry" href="#"><i class="fa fa-heart-o"></i><span>Wishlist</span></a> 
                                                     
                        </div>                       

                    </div>
                    <div class="close-header-layer"></div>
                    <div class="navigation">
                         <div class="navigation-header responsive-menu-toggle-class">
                            <div class="title">Navigation</div>
                            <div class="close-menu"></div>
                        </div>
                        <div class="nav-overflow">
                            <div class="sidebar-navigation-title">TOP CATEGORIES</div>
                            <div class="navigation-search-content">
                                <div class="toggle-desktop-menu"><i class="fa fa-bars" ng-click="showDiv = !showDiv"></i><i class="fa fa-close"></i>menu</div>
                                <div ng-switch="showDiv" >
                                    <div ng-switch-default>
                               
                                
                                <div class="search-box size-1">
                                    <form>
                                        <div class="search-button">
                                            <i class="fa fa-search"></i>
                                            <input type="submit" />
                                        </div>
                               
                                        <div class="search-drop-down" uib-dropdown is-open="status.isopen">
                                        <div class="title" uib-dropdown-toggle ng-disabled="disabled">
        All Categories<span class="fa fa-caret-down"></span>
      </div>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Category 1</a></li>
        <li role="menuitem"><a href="#">Category 2</a></li>
        <li role="menuitem"><a href="#">Category 3</a></li>
        <li role="menuitem"><a href="#">Category 4</a></li>
      </ul>
                                        </div>
                                        <div class="search-field">
                                         
                                            <input type="text" value="" placeholder="Search for product" style="width:534px;" />
                                        </div>
                                    </form>
                                </div>
                                         </div>
                            
                            
                            <nav>
                                <div ng-switch-when=true>
                                <ul>
                                    <li class="full-width">
                                        <a href="index.html" class="active">Home</a>
                                       
                                    </li>
                                    <li class="full-width-columns">
                                        <a href="#">About us</a></i>
                                       </li>
                                    <li class="simple-list">
                                        <a href="#">Products</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <ul class="simple-menu-list-column">
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 1</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 2</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 3</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 4</a></li>
                                            </ul>
                                        </div>
                                    </li>                                 
                                            
                                    
                                     <li class="simple-list">
                                        <a href="#">Contact Us</a>
                                        
                                    </li>
                                   

                                    <li class="fixed-header-visible">
                                        <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                                    
                        </div>
                                </div>

                                <div class="clear"></div>

                                <a class="fixed-header-visible additional-header-logo"><img src="app-content/img/new/evr_logo.png" /></a>
                            </nav>
                            <div class="navigation-footer responsive-menu-toggle-class">
                                <div class="socials-box">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="navigation-copyright">Copyrights@2017. All rights reserved</div>
                            </div>
                        
                                
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </header>
<div class="clear"></div>
                
            </div>
<div class="content-push" style="margin-top:-1%;">
    <div class="row">
         <div class="col-md-3"  style="margin-top:25%;">
                         <div class="sidebar-navigation">
                            <div class="title">TOP CATEGORIES<i class="fa fa-angle-down"></i></div>
                            <div class="list">                                
                                <a class="entry" href="#"><span><img src="app-content/img/new/automobile.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Automobiles</span></a>
                                <a class="entry" href="#"><span><img src="app-content/img/new/plumbing.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Plumbing</span></a>
                                <a class="entry" href="#"><span><img src="app-content/img/new/carass.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Car Accessories</span></a>
                                <a class="entry" href="#"><span><img src="app-content/img/new/electricals.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Electricals</span></a>
                                <a class="entry" href="#"><span><img src="app-content/img/new/hardware.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Hardwares</span></a>
                                <a class="entry" href="#"><span><img src="app-content/img/new/paint.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;"></i>Paints</span></a>
                              </div>
                        </div>
<div class="information-blocks hidden-sm hidden-xs">
                            <h3 class="block-title">Popular Producents</h3>
                            <div class="sidebar-logos-row">
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-1.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-2.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-3.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-4.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-5.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-6.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-7.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-8.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-1.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-2.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-3.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-4.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-5.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-6.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-7.jpg" alt="" /></a></div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        
                    </div>
<div class="col-md-9" style="margin-top:23%;">
                        
                            
                                
                                
                                <div class="imageslide" ng-switch='slideshow' ng-animate='animate'>
			<div class="slider-content" ng-switch-when="1">
				<img ng-src="app-content/img/slidder/sl1.jpg" width="870" height="430">
                
			</div>	
			<div class="slider-content" ng-switch-when="2">
				<img ng-src="app-content/img/slidder/sl2.jpg" width="870" height="430">

			</div>
			<div class="slider-content" ng-switch-when="3">
				<img ng-src="app-content/img/slidder/sl3.jpg" width="870" height="430">

			</div>	
				
                                    </div>
    <uib-tabset active="active">
  
        
        
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Featured Products">
     <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="pro in products"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href=""><img src="http://localhost/newdash1/{{pro.tab_images}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="#">{{pro.tab_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{pro.tab_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
      
      
      
      
    </uib-tab>
    <uib-tab index="1" heading="Popular Products">
     <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="pop in popular"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href=""><img src="http://localhost/newdash1/{{pop.tab_images}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="#">{{pop.tab_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{pop.tab_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="New Arrivals">
      
    <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="newar in newarr"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href=""><img src="http://localhost/newdash1/{{newar.tab_images}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="#">{{newar.tab_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{newar.tab_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
       
    </uib-tab>
  </uib-tabset>
        
        
   
        
    
</uib-tabset>
		
     </div>

</div>

        
  
          
</div>
<!-- FOOTER -->
                <div class="footer-wrapper style-2">
                    <footer class="type-1">
                        <div class="footer-columns-entry">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="footer-logo" src="app-content/img/new/evr3.jpg" style="width: 40%; height: auto;" alt="" />
                                    <div class="footer-description"></div>
                                    <div class="footer-address">165, Car Street, Tiruvannamalai<br/>
                                        Phone: +91 180 000 425<br/>
                                        Email: <a href="mailto:Support@blanco.com">Support@evr.com</a><br/>
                                        <a ui-sref="home"><b>www.evr.com</b></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="column-title">Our Services</h3>
                                    <ul class="column">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Custom Service</a></li>
                                        <li><a href="#">Terms &amp; Condition</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                
                                
                                <div class="clearfix visible-sm-block"></div>
                                <div class="col-md-4">
                                    <h3 class="column-title">Company working hours</h3>
                                    <div class="footer-description"></div>
                                    <div class="footer-description">
                                        <b>Monday-Friday:</b> 8.30 a.m. - 5.30 p.m.<br/>
                                        <b>Saturday:</b> 9.00 a.m. - 2.00 p.m.<br/>
                                        <b>Sunday:</b> Closed
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">
                                <div class="footer-links">
                                    <a href="#">Site Map</a>
                                    <a href="#">Search</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Advanced Search</a>
                                    <a href="#">Orders and Returns</a>
                                    <a href="#">Contact Us</a>
                                </div>
                                <div class="copyright">Copyrights@2017. All right reserved</div>
                            </div>
                           
                        </div>
                    </footer>
                </div>




      

    
