 

<div id="content-block">  
      

        <div class="content-center fixed-header-margin">
            <!-- HEADER -->
            
            <div class="header-wrapper style-2">
                <header class="type-1">
                   <div class="header-top">
                        <div class="header-top-entry">
                            <div class="title"><img src="app-content/img/flag-lang-1.png" alt="" />English<i class="fa fa-caret-down"></i></div>
                            <div class="list">
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-2.png" alt="" />French</a>
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-3.png" alt="" />Spanish</a>
                            </div>
                        </div>
                       
                  
                        <div class="header-top-entry hidden-xs">
                            <div class="title">India's Fastest Online Shopping Destination</div>
                            
                        </div>
                        <div class="socials-box">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
                        <div class="clear"></div>
                    </div>
                    
                    

                    <div class="header-middle" data-spy="affix" data-offset-top="197">
                        <div class="logo-wrapper">
                            <a id="logo" href=""><img src="app-content/img/new/evr_logo.png" style="width: 85%; height: auto;" alt="" /></a>
                            
                        </div>
                      

                        <div class="middle-entry">
                            <a class="icon-entry" href="#">
                                <span class="image">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <span class="text">
                                    <b>Contact Info</b> <br/> (+91) 180 000 425
                                </span>
                            </a>
                            
                        </div>
                    
                        

                        <div class="right-entries">
                            <a class="header-functionality-entry open-search-popup" href="#" class="nav nav-pills nav-stacked" data><i class="fa fa-search"></i><span>Search</span></a>
                            <a class="header-functionality-entry open-cart-popup" href="" ng-click="goCart()"><i class="fa fa-shopping-cart"></i><span>My Cart  {{items.length}}</span></a>                            
                            <a class="header-functionality-entry" href="#"><i class="fa fa-heart-o"></i><span>Wishlist</span></a> 
                                                     
                        </div>                       

                    </div>

                    <div class="close-header-layer"></div>
                   <div class="navigation" nav yc-navbar-affix>
                         <div class="navigation-header responsive-menu-toggle-class">
                            <div class="title">Navigation</div>
                            <div class="close-menu"></div>
                        </div>
                        <div class="nav-overflow">
                            <div class="sidebar-navigation-title">TOP CATEGORIES</div>
                            <div class="navigation-search-content">
                                
                                
                                   
                               
                                
                                <div class="search-box size-1"> 
                                    <form>
                                        <div class="search-button">
                                            <i class="fa fa-search"></i>
                                            <input type="submit" />
                                        </div>
                               
                                       
                                        <div class="search-field ">
                                         
                                            <input class="search-field" type="text" placeholder="   Search Products and Brands" ng-model="hello" autocomplete="off" ng-keyup='fetchProducts()' autofocus/><span></span><br>
     <ul class="list-group" autofocus>
<a href="javascript:void(0)"><li class="list-group-item"  ng-click='Viewproduct(result.product_id)' ng-repeat="result in prdNameList">{{ result.product_name }}</li> </a>
  </ul>
                                        </div>
                                    </form>
                                </div>
                                         
                            
                            
                            
                                
                                <ul ng-show="lions">
                                    <li class="full-width">
                                        <a href="index.html" ng-click="collapseMenu()" class="active">Home</a>
                                       
                                    </li>
                                    <li class="full-width-columns">
                                        <a href="#">About us</a>
                                       </li>
                                    <li class="simple-list">
                                        <a href="#">Products</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <ul class="simple-menu-list-column">
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 1</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 2</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 3</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 4</a></li>
                                            </ul>
                                        </div>
                                    </li>                                 
                                            
                                    
                                     <li class="simple-list">
                                        <a href="#">Contact Us</a>
                                        
                                    </li>
                                   

                                    <li class="fixed-header-visible">
                                        <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                                    
                      
                               

                                <div class="clear"></div>

                                <a class="fixed-header-visible additional-header-logo"><img src="app-content/img/new/evr_logo.png" /></a>
                            
                            <div class="navigation-footer responsive-menu-toggle-class" >
                                <div class="socials-box">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="navigation-copyright">Copyrights@2017. All rights reserved</div>
                            </div>
                        
                                
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </header>
                <div class="clear"></div>
            </div>
   

            <div class="content-push" style="margin-top:-1%; margin-left: 1.2%;">

                <div class="row">
                  <div class="col-md-3"  style="margin-top:25%;">
                         <div class="sidebar-navigation">
                             <div class="title">Product Categories<i class="fa fa-angle-down" id="mySidenav"></i></div>
             <div class="list" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">                                
                                <a class="entry" href="" ng-click=cat("Automobile")><span><img src="app-content/img/new/automobile.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Automobiles</span></a>
                                <a class="entry" href="" ng-click=cat("Plumbing")><span><img src="app-content/img/new/plumbing.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Plumbing</span></a>
                                <a class="entry" href="" ng-click=cat("accessories")><span><img src="app-content/img/new/carass.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Car Accessories</span></a>
                                <a class="entry" href="" ng-click=cat("Electricals")><span><img src="app-content/img/new/electricals.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Electricals</span></a>
                                <a class="entry" href="" ng-click=cat("Hardwares")><span><img src="app-content/img/new/hardware.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Hardwares</span></a>
                                <a class="entry" href="" ng-click=cat("Paints")><span><img src="app-content/img/new/paint.jpg" height="28" width="28" style="margin-right: 10px; border-radius: 20px; margin-bottom: -8px; height: 28px; width: 28px;">Paints</span></a>
                              </div>
                                      
             </div>
<div class="information-blocks hidden-sm hidden-xs">
                            <h3 class="block-title">Popular Producents</h3>
                            <div class="sidebar-logos-row">
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-1.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-2.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-3.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-4.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-5.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-6.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-7.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-8.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-1.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-2.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-3.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-4.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-5.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-6.jpg" alt="" /></a></div>
                                <div class="entry"><a href="#"><img src="app-content/img/sidebar-logo-7.jpg" alt="" /></a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                      <div class="clear"></div>

                        
                    </div>
                    <div class="col-md-9" style="margin-top:22%;">
         <div class="information-blocks">
                            <div class="row">
                                
                                
        <uib-carousel interval="slideImageTiming" style="width: 95%; height: 430px; margin-left: 3%; margin-top: 4%;">
           
            <uib-slide ng-repeat="slide in slides" active="slide.active" index="$index" >
              <img ng-src="admin/{{slide.banner_image}}" style="margin:auto;"/>
               
               
              <div class="carousel-caption" style="color: #e24b06; margin-bottom: 0%; margin-right: 5%;">
                  <h1 class="animated bounceInDown">{{slide.banner_title}}</h1>
                  <div class="animated bounceInLeft">
                <a class="button style-1" href="#">Shop Now</a>
                <a class="button style-1" href="#">Features</a>
                                                                </div>
              </div>
               
            </uib-slide>
          </uib-carousel>
                                
                                
   
                                        
                              
                              
                            </div>
                        </div>    
    
    <div class="information-blocks">
                            <div class="tabs-container" style="margin-top: 4%;">
                                
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Featured Products">
     <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="pro in products"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href="" ng-click="Viewproduct(pro.product_id)"><img src="admin/{{pro.product_img}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a" ng-click='items.push(pro.product_id)'><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="" ng-click="Viewproduct(pro.product_id)">{{pro.product_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{pro.product_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
      
      
      
      
    </uib-tab>
    <uib-tab index="1" heading="Popular Products">
     <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="pop in popular"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href="" ng-click="Viewproduct(pop.product_id)"><img src="admin/{{pop.product_img}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a" ng-click='isDisabled || items.push(pop.product_id)'><i class="fa fa-shopping-cart" ng-disabled="isDisabled"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="" ng-click="Viewproduct(pop.product_id)" >{{pop.product_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{pop.product_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="New Arrivals">
      
    <div class="tabs-entry" >
      <div class="products-swiper"  >
    <div class="swiper-container"  data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                                <div class="swiper-wrapper" >
                                                    <div class="swiper-slide" ng-repeat="newar in newarr"> 
                                                        <div class="paddings-container" >
                                                            <div class="product-slide-entry" style="width: 175px; margin-top: 10%;">
                                                                <div class="product-image">
                                                                    <a href="" ng-click="Viewproduct(newar.product_id)"><img src="admin/{{newar.product_img}}" alt="" /></a>
                                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                                    <div class="bottom-line">
                                                                        <a class="bottom-line-a" ng-click='items.push(newar.product_id)'><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                <a class="title" href="" ng-click="Viewproduct(newar.product_id)">{{newar.product_name}}</a>
                                                                <div class="rating-box">
                                                                    
                                                                </div>
                                                                <div class="price">
                                                                    
                                                                    <div class="current">&#2352; {{newar.product_price}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                </div>
                                                <div class="pagination"></div>
                                            </div>
                                        </div>
        </div>
       
    </uib-tab>
  </uib-tabset>
        
                                
                                
        </div>
    </div>
                        
                        
                            
      
                                
        
    
  
        
        
       
        
   
        
    

		
     </div>
                </div>
                
            <div class="clearfix"></div>
            
            
                
                    
                
                <!-- FOOTER -->
            
            
                <div class="footer-wrapper style-2" style="
    background-color: #189a8e;">
                    <footer class="type-1">
                       
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">
                                <div class="footer-links">
                                    <a href="#">Site Map</a>
                                    <a ui-sref="about">About</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Advanced Search</a>
                                    <a href="#">Orders and Returns</a>
                                    <a ui-sref="contact">Contact Us</a>
                                </div>
                                <div class="copyright">Copyrights@2017. All right reserved</div>
                            </div>
                           
                        </div>
                       
                    </footer>
                    </div>
               
                </div>
            </div>
    
            

        
        <div class="clear"></div>
            
</div>

    



   
 