<div class="content-center fixed-header-margin">
             <div class="header-wrapper style-2">
                <header class="type-1">
                   <div class="header-top">
                        <div class="header-top-entry">
                            <div class="title"><img src="app-content/img/flag-lang-1.png" alt="" />English<i class="fa fa-caret-down"></i></div>
                            <div class="list">
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-2.png" alt="" />French</a>
                                <a href="#" class="list-entry"><img src="app-content/img/flag-lang-3.png" alt="" />Spanish</a>
                            </div>
                        </div>
                  
                        <div class="header-top-entry hidden-xs">
                            <div class="title">India's Fastest Online Shopping Destination</div>
                            
                        </div>
                        <div class="socials-box">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
                        <div class="clear"></div>
                    </div>

                    <div class="header-middle">
                        <div class="logo-wrapper">
                            <a id="logo" href=""><img src="app-content/img/new/evr_logo.png" style="width: 85%; height: auto;" alt="" /></a>
                            
                        </div>
                      

                        <div class="middle-entry">
                            <a class="icon-entry" href="#">
                                <span class="image">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <span class="text">
                                    <b>Contact Info</b> <br/> (+91) 180 000 425
                                </span>
                            </a>
                            
                        </div>
                        

                        <div class="right-entries">
                            <a class="header-functionality-entry open-search-popup" href="#"><i class="fa fa-search"></i><span>Search</span></a>
                            <a class="header-functionality-entry open-cart-popup" href="" ng-click="myCart()"><i class="fa fa-shopping-cart"></i><span>My Cart  {{items.length}}</span></a>                            
                            <a class="header-functionality-entry" href="#"><i class="fa fa-heart-o"></i><span>Wishlist</span></a> 
                                                     
                        </div>                       

                    </div>

                    <div class="close-header-layer"></div>
                   <div class="navigation" nav yc-navbar-affix>
                         <div class="navigation-header responsive-menu-toggle-class">
                            <div class="title">Navigation</div>
                            <div class="close-menu"></div>
                        </div>
                        <div class="nav-overflow">
                            <div class="sidebar-navigation-title">Cart Item Details</div>
                            <div class="navigation-search-content">
                               
                                
                                   
                               
                                
                                <div class="search-box size-1"> 
                                    <form>
                                        <div class="search-button">
                                            <i class="fa fa-search"></i>
                                            <input type="submit" />
                                        </div>
                               
                                       
                                      <div class="search-field ">
                                         
                                            <input class="search-field" type="text" placeholder="                            Search Products and Brands" ng-model="hello" ng-keyup='fetchProducts()'/><span></span><br>
     <ul class="list-group">
<a href="javascript:void(0)"><li class="list-group-item"  ng-click='Viewproduct(result.product_id)' ng-repeat="result in prdNameList">{{ result.product_name }}</li> </a>
  </ul>
                                        </div>
                                    </form>
                                </div>
                                         
                            
                            
                            
                                
                                <ul ng-show="lions">
                                    <li class="full-width">
                                        <a href="index.html" ng-click="collapseMenu()" class="active">Home</a>
                                       
                                    </li>
                                    <li class="full-width-columns">
                                        <a href="#">About us</a>
                                       </li>
                                    <li class="simple-list">
                                        <a href="#">Products</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <ul class="simple-menu-list-column">
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 1</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 2</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 3</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>Product 4</a></li>
                                            </ul>
                                        </div>
                                    </li>                                 
                                            
                                    
                                     <li class="simple-list">
                                        <a href="#">Contact Us</a>
                                        
                                    </li>
                                   

                                    <li class="fixed-header-visible">
                                        <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                                    
                      
                               

                                <div class="clear"></div>

                                <a class="fixed-header-visible additional-header-logo"><img src="app-content/img/new/evr_logo.png" /></a>
                            
                            <div class="navigation-footer responsive-menu-toggle-class">
                                <div class="socials-box">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="navigation-copyright">Copyrights@2017. All rights reserved</div>
                            </div>
                        
                                
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </header>
                <div class="clear"></div>
            </div>
            <div class="content-push" style="margin-top:25%; margin-left: 3%;" >
                <div class="breadcrumb-box">
                    <a ui-sref="home">Home</a>
                    <a href="">products</a>
                    <a href="">Cart</a>
                    
                                         
                </div>
                
                <div class="table-responsive col-lg-12" style="margin-left: 3%;">

    <table class="table table-striped ngCart cart" width="100%">

        <thead>
        <tr style="font-weight: bold;">
            <th></th>
            <th></th>            
            <th>ITEMS</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat='item in getData' width="10%">
            <td></td>
            <td></td>
            <td><img src="admin/{{item.product_img}}" width="80" height="75"/></td>            
            <td>{{item.product_name}}</td>
            <td>{{item.product_price}}</td>
            <td>
  <button ng-click="decrement($index)" class='entry number-minus' ng-disabled="qty<=0">-</button>
            {{item.product_qty}}
  <button ng-click="increment($index)" class='entry number-plus'>+</button>
             
            </td>
            <td>&#2352; {{item.product_price * item.product_qty}}</td>
        </tr>
         <tr  width="10%">
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td></td>
             <hr>
            <td>
                <h2>Total :</h2>
            </td>
            <td><h2>&#2352; {{total}}</h2></td>
        </tr>
         
        </tfoot>
        <tbody>
       
        </tbody>
       
      
        
    </table>
   
</div>
                
            </div>
             <button class="button style-10" type="button" ng-click="viewprofile(getData, 'lg' )" style="margin-left: 75%;">CHECKOUT</button>
            
     </div>
 
        <div class="footer-wrapper style-2" style="
    background-color: #189a8e;">
                    <footer class="type-1">
                       
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">
                                <div class="footer-links">
                                    <a href="#">Site Map</a>
                                    <a ui-sref="about">About</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Advanced Search</a>
                                    <a href="#">Orders and Returns</a>
                                    <a ui-sref="contact">Contact Us</a>
                                </div>
                                <div class="copyright">Copyrights@2017. All right reserved</div>
                            </div>
                           
                        </div>
                       
                    </footer>
                </div>

 
  <script type="text/ng-template" id="popupModal.html">
            <div class="modal-header">
                <center> <h3>Place Order</h3> </center>
            </div>
      
<form class="form-horizontal">

  <ul class="nav nav-tabs">
    <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
      <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
    </li>
  </ul>
  <div ng-switch on="selection">

    <!-- First Step -->
    <div ng-switch-when="Step 1: Product Info">
      <div class="row">
        <div class="span4" style="margin-left: 5%;">
         <table class="table table-striped ngCart cart" style="width: 865px;">

        <thead>
        <tr style="font-weight: bold;">
            <th></th>
            <th></th>            
            <th>ITEMS</th>
            <th>Product Name</th>
            <th>quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat='item in itemsData' width="100%" >
            <td></td>
            <td></td>
            <td><img src="admin/{{item.product_img}}" width="80" height="75"/></td>            
            <td>{{item.product_name}}</td>
            <td>{{item.product_qty}}</td>
            <td>&#2352;{{item.product_qty * item.product_price}}</td>
        </tr>
             <tr  width="100%">
         
            <td></td>
            <td></td>          
            <td></td>
            <td></td>
             <hr>
            <td>
                <h2>Total :</h2>
            </td>
            <td><h2>&#2352; {{itemsData.total}}</h2></td>
        </tr>
        </tfoot>
    </table>
   
        </div>
        <div class="span4 offset1">

        
        </div>
      </div>
    </div>

    <!-- Second Step -->
    <div ng-switch-when="Step 2: Delivery Address">
       <br>
                  <form  class="form-horizontal">
                       <div class="form-group">
                           <label class="col-sm-2 control-label">Name</label>
                            <label class="col-sm-1 control-label">:</label>
                           <div class="col-sm-3">
                              <input type="text"  placeholder="Name" name="title" ng-model="delivery.name" class="form-control" >
                           </div>
                            <label class="col-sm-1 control-label">Email:</label>                          
                            <div class="col-sm-3">
                                 <input type="text"  placeholder="Email" name="email" ng-model="delivery.email" class="form-control" >
                            
                           </div>
                        </div>
                      
                         
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Location</label>
                            <label class="col-sm-1 control-label">:</label>
                           <div class="col-sm-7">
                               <textarea placeholder="Address" name="location" ng-model="delivery.address" class="form-control" rows="5" ></textarea>
                              </div>
                        </div>   
                
                      
                      <div class="form-group">
                           <label class="col-sm-2 control-label">Mobile No</label>
                            <label class="col-sm-1 control-label">:</label>
                           <div class="col-sm-3">
                              <input type="number" placeholder="Mobile Number" name="person" ng-model="delivery.mobile" class="form-control" >
                           </div>
                            <label class="col-sm-1 control-label">Pincode</label>                          
                            <div class="col-sm-3">
                             <input type="number" placeholder="Pincode" name="exp" ng-model="delivery.pincode" class="form-control" >

                           </div>
                        </div>
                   
<br>
                  </form>

    </div>

    <!-- Third Step -->
    <div ng-switch-when="Step 3: Payment">
       <center> <h1>Payment Method</h1>
         <button class="btn btn-success" ng-click="OrdertoMail(itemsData)" >Send to Mail</button>
      </center>
    </div>
  </div>
  <div class="clearfix"></div>
  <ul class="pager pull-left">
    <li class="" ng-class="{disabled: !hasPreviousStep()}">
      <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Previous Step</a>
    </li>
    <li class="" ng-class="{disabled: !hasNextStep()}">
      <a href="javascript:void(0);" ng-click="incrementStep(delivery)">Next Step &rarr;</a>
    </li>
  </ul>
 
  <div class="clearfix"></div>
</form>
     
       
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">Cancel</button>
              
            </div>
        </script>